<div class="container sptb">
    <div class="card">
        <div class="card-body">
            <div class="border-0">
                <div class="tab-content">
                    <div class="">
                        <div id="profile-log-switch">
                            <div class="media-heading">
                                <h5><strong>Profile Data</strong></h5>
                            </div>
                            <div class="table-responsive ">
                                <table class="table row table-borderless">
                                    <tbody class="col-lg-12 col-xl-12 p-2">
                                        <tr>
                                            <td><strong class="font-weight-bold text-default-dark">Name :</strong>
                                                {{data.name}}</td>
                                        </tr>
                                        <tr>
                                            <td><strong class="font-weight-bold text-default-dark">Age :</strong>
                                                {{data.age}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><strong class="font-weight-bold text-default-dark">City :</strong>
                                                {{data.city}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><strong class="font-weight-bold text-default-dark">Country :</strong>
                                                {{data.country}}</td>
                                        </tr>
                                        <tr>
                                            <td><strong class="font-weight-bold text-default-dark">Phone :</strong>
                                                {{data.phone}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>